  <div align="left">
    <h1>Please Login To Continue</h1>

    <ul>
      <li class="arrow"><%= link_to "Log Weight", "/weights", :rel => 'external' %></li>
      <li class="arrow"><%= link_to "Log Steps", "/steps", :rel => 'external' %></li>
    </ul>

  </div>
