<% title "Weight Graphs" %>

    <ul class="rounded">
      <li><%=raw link_to "One Week", @graph_week, :class => "whiteButton submit", :target => "_blank" %></li>
      <li><%=raw link_to "Two Weeks", @graph_two_weeks, :class => "whiteButton submit", :target => "_blank" %></li>
      <li><%=raw link_to "Two Months", @graph_two_months, :class => "whiteButton submit", :target => "_blank" %></li>
    </ul>

