<% title "Weight Graphs" %>

    <ul class="rounded">
      <li><%=raw link_to "One Week", @graph_week_big, :class => "whiteButton submit", :rel => 'external' %></li>
      <li><%=raw link_to "Two Weeks", @graph_two_weeks_big, :class => "whiteButton submit", :rel => 'external'%></li>
      <li><%=raw link_to "Two Months", @graph_two_months_big, :class => "whiteButton submit", :rel => 'external' %></li>
    </ul>

