<div id="main-colum"> 
  <h3>Get in touch with us</h3> 
  <p>This great template comes with a built-in ajax contact form with validation. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p> 
  <!-- contact-form START here --> 
  <div id="feedback"> 
    <p class="error wrong_name error-box">Please fill your name</p> 
    <p class="error wrong_email error-box">Please enter a valid email</p> 
    <p class="error wrong_message error-box">Please enter your message</p> 
  </div> 
  <form action="sendemail.php" id="contact_us" method="post"> 
    <p class="label_name">Name</p> 
    <p class="input_form"> 
    <input type="text" name="Name" /> 
    </p> 
    <p class="label_name">Email</p> 
    <p class="input_form"> 
    <input type="text" name="Email" /> 
    </p> 
    <p class="label_name">Message</p> 
    <p class="input_form" id="textarea"> 
    <textarea name="Message" rows="5" cols="4" id="message_input"></textarea> 
    </p> 
    <p id="submit"> 
    <input type="submit" value="Send Message" name="submitButton" class="big-btn special" /> 
    </p> 
  </form> 
  <div class="success-box hidden" id="success"> 
    Your message was sent succesfully! <span class="close">x</span> 
  </div> 
  <!-- contact-form END here --> 
</div> 
<!-- main-colum END here --> 
<!-- sidebar START here --> 
<div id="sidebar"> 
  <ul> 
    <!-- widget START here --> 
    <li class="widget"> 
    <div class="title"> 
      <h5>Contact Info</h5> 
    </div> 
    <div class="content"> 
      <img src="images/office.jpg" alt="Our Office" /> 
      <p><strong style="text-decoration:underline;">Tel:</strong> +1 770 150 2552<br /> 
      <strong style="text-decoration:underline;">Fax:</strong> +1 770 150 2550<br /> 
      9990 Folsom St, San Francisco, CA<br /> 
      contact@yourdomain.com</p> 
    </div> 
    </li> 
    <!-- widget END here --> 
    <!-- widget START here --> 
    <li class="widget"> 
    <div class="title"> 
      <h5>Testimonial</h5> 
    </div> 
    <div class="content"> 
      <blockquote> 
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p> 
        <cite>John Doe, <a href="#">Themeforest.net</a></cite></blockquote> 
    </div> 
    </li> 
    <!-- widget END here --> 
  </ul> 
</div> 
<!-- sidebar END here --> 
