<br />
<div id="main-colum"> 
  <h3>Weight Tracking the Hacker Diet Way!</h3> 
  <p>We help you to follow the tenants of The Hacker Diet to help you lose weight and become fit and healthy. Simply record your weight each day, and as long as you log "sinkers", or weights below your average, then you are losing weight!</p>

  <h4>Why Wait? <%=h link_to 'Sign up', new_user_registration_url %> for a free MyHackerDiet.com account.</h4>

  <div align="center"><img src='http://chart.apis.google.com/chart?cht=lc&chtt=Example+Weight+Chart&chs=800x300&chd=t:132.7,133.8,134.4,134.43,133.7,131.9,132.2,132.2,134.12,134.2,134.27,134.56,134.95,133.8,132.98,133.1,133.4,134.21,134.23,134.31,134.53,134.3,134.58,134.63,134.79,135.08,135.36,135.66,135.87,135.97,136.17,136.26,136.55,136.93,137.37,137.85,138.33,138.78,139.19,139.52,139.79,140.24,140.55,140.98,141.42,141.78,142.0,141.24,139.78,139.9,140.43,140.97,141.5,141.0,141.8,140.8,139.0,140.57,141.81,141.88,140.1|134.54,134.45,134.4,134.43,134.38,134.27,134.09,134.04,134.12,134.2,134.27,134.56,134.95,135.01,134.81,134.61,134.35,134.21,134.23,134.31,134.53,134.56,134.58,134.63,134.79,135.08,135.36,135.66,135.87,135.97,136.17,136.26,136.55,136.93,137.37,137.85,138.33,138.78,139.19,139.52,139.79,140.24,140.55,140.98,141.42,141.78,142.0,142.15,142.21,142.27,142.32,142.37,142.41,142.39,142.39,142.3,142.09,141.93,141.81,141.88,141.76|134.54,134.45,134.9,135.0,134.38,134.27,134.09,134.04,134.4,136.8,135.4,138.1,134.97,135.01,134.81,134.61,134.35,134.87,136.15,135.73,137.23,134.56,135.4,136.05,136.83,137.6,137.9,138.2,138.5,138.8,139.43,140.05,140.68,141.3,141.93,142.55,143.18,143.8,144.43,142.3,142.57,143.27,141.67,144.6,145.7,144.73,142.28,142.15,142.21,142.27,142.32,142.37,142.41,142.39,142.39,142.3,142.09,141.93,142.13,143.7,141.76&chco=4d89f9,c6d9fd&chds=131.0,146.0&chbh=20&chxt=x,y&chxl=1:|131.0|138.5|146.0|0:|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|1|2|3|4|5|6|7|8|9|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31|1|2|3&chm=b,0000FF,0,-1,10.0|b,80C65A,0,1,0|b,FF0000,1,2,0' /></div>


</div> 
<!-- main-colum END here --> 
<!-- sidebar START here --> 
<div id="sidebar_min"> 
  <ul> 
    <!-- widget START here --> 
    <li class="widget"> 
    <div class="title"> 
      <h5>Features</h5> 
    </div> 
    <div class="content"> 
      <ul id='services-list'>
        <li>
          <img src='/images/calendar.png' width='20px' height='20px' />
          Daily Weight Tracker with moving average tracking
        </li>
        <li>
          <img width='20px' height='20px' src="/images/heart.png" />
          Full Health Statistics, including BMI, RMR, TDEE
        </li>
        <li>
          <img src="/images/homeWifi.png" width='20px' height='20px' />
          Withings Wifi Scale integration - automatically capture your weigh-ins
        </li>
        <li>
          <img src="/images/export.png" width='20px' height='20px' />
          Complete Import and Export of your data.  We will not hold your data hostage.
        </li>
        <li>
          <img src="/images/rss.gif" height='20px' width='20px' />
          Social Networks - keep your friends informed of your progress
        </li>
      </ul>
    </div> 
    </li> 
    <!-- widget END here --> 
    <!-- widget START here --> 
    <li class="widget"> 
    <div class="title"> 
      <h5>Testimonial</h5> 
    </div> 
    <div class="content"> 
      <blockquote> 
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p> 
        <cite>John Doe, <a href="#">Themeforest.net</a></cite></blockquote> 
    </div> 
    </li> 
    <!-- widget END here --> 
  </ul> 
</div> 
<!-- sidebar END here --> 
