
<div align="left">
  <h1>Losing Weight is Easy ...</h1>
  .... in theory. If you eat fewer calories than your body burns you will lose weight. But if you've ever tried to lose weight you know that is easier said than done. 
  <br /><br />
  <h2>MyHackerDiet.com Can Help ... For FREE!</h2>
  Our goal is to follow the tenants of The Hacker Diet to help you lose weight and become fit and healthy.
  <br /><br />
  <h2>Get started today.</h2>

  1. <%=link_to_colorbox "Sign up", '/users/sign_up' %> for a free MyHackerDiet.com account.<br />
  2. Buy a scale.<br />
  3. Weigh yourself every day.<br />
  4. <%=link_to "Record your weight.", '/weights/' %><br />

</div>
